# directories
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
**/artifacts
**/build
**/cache
**/coverage
**/.coverage_artifacts
**/.coverage_cache
**/.coverage_contracts
**/dist
**/node_modules
**/types

# files
*.env
*.log
.pnp.*
coverage.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/hardhat-template-lw.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
typechain-types/common.ts
typechain-types/hardhat.d.ts
typechain-types/index.ts
typechain-types/@openzeppelin/index.ts
typechain-types/@openzeppelin/contracts/index.ts
typechain-types/@openzeppelin/contracts/access/index.ts
typechain-types/@openzeppelin/contracts/access/Ownable.ts
typechain-types/@openzeppelin/contracts/security/index.ts
typechain-types/@openzeppelin/contracts/security/Pausable.ts
typechain-types/@openzeppelin/contracts/token/index.ts
typechain-types/@openzeppelin/contracts/token/ERC20/ERC20.ts
typechain-types/@openzeppelin/contracts/token/ERC20/IERC20.ts
typechain-types/@openzeppelin/contracts/token/ERC20/index.ts
typechain-types/@openzeppelin/contracts/token/ERC20/extensions/ERC20Burnable.ts
typechain-types/@openzeppelin/contracts/token/ERC20/extensions/IERC20Metadata.ts
typechain-types/@openzeppelin/contracts/token/ERC20/extensions/index.ts
typechain-types/@openzeppelin/contracts/token/ERC721/ERC721.ts
typechain-types/@openzeppelin/contracts/token/ERC721/IERC721.ts
typechain-types/@openzeppelin/contracts/token/ERC721/IERC721Receiver.ts
typechain-types/@openzeppelin/contracts/token/ERC721/index.ts
typechain-types/@openzeppelin/contracts/token/ERC721/extensions/ERC721Burnable.ts
typechain-types/@openzeppelin/contracts/token/ERC721/extensions/ERC721Enumerable.ts
typechain-types/@openzeppelin/contracts/token/ERC721/extensions/ERC721Pausable.ts
typechain-types/@openzeppelin/contracts/token/ERC721/extensions/ERC721URIStorage.ts
typechain-types/@openzeppelin/contracts/token/ERC721/extensions/IERC721Enumerable.ts
typechain-types/@openzeppelin/contracts/token/ERC721/extensions/IERC721Metadata.ts
typechain-types/@openzeppelin/contracts/token/ERC721/extensions/index.ts
typechain-types/@openzeppelin/contracts/utils/index.ts
typechain-types/@openzeppelin/contracts/utils/introspection/ERC165.ts
typechain-types/@openzeppelin/contracts/utils/introspection/IERC165.ts
typechain-types/@openzeppelin/contracts/utils/introspection/index.ts
typechain-types/contracts/Greeter.ts
typechain-types/contracts/index.ts
typechain-types/contracts/Lock.ts
typechain-types/contracts/MyToken.ts
typechain-types/contracts/PayableNFT.ts
typechain-types/factories/index.ts
typechain-types/factories/@openzeppelin/index.ts
typechain-types/factories/@openzeppelin/contracts/index.ts
typechain-types/factories/@openzeppelin/contracts/access/index.ts
typechain-types/factories/@openzeppelin/contracts/access/Ownable__factory.ts
typechain-types/factories/@openzeppelin/contracts/security/index.ts
typechain-types/factories/@openzeppelin/contracts/security/Pausable__factory.ts
typechain-types/factories/@openzeppelin/contracts/token/index.ts
typechain-types/factories/@openzeppelin/contracts/token/ERC20/ERC20__factory.ts
typechain-types/factories/@openzeppelin/contracts/token/ERC20/IERC20__factory.ts
typechain-types/factories/@openzeppelin/contracts/token/ERC20/index.ts
typechain-types/factories/@openzeppelin/contracts/token/ERC20/extensions/ERC20Burnable__factory.ts
typechain-types/factories/@openzeppelin/contracts/token/ERC20/extensions/IERC20Metadata__factory.ts
typechain-types/factories/@openzeppelin/contracts/token/ERC20/extensions/index.ts
typechain-types/factories/@openzeppelin/contracts/token/ERC721/ERC721__factory.ts
typechain-types/factories/@openzeppelin/contracts/token/ERC721/IERC721__factory.ts
typechain-types/factories/@openzeppelin/contracts/token/ERC721/IERC721Receiver__factory.ts
typechain-types/factories/@openzeppelin/contracts/token/ERC721/index.ts
typechain-types/factories/@openzeppelin/contracts/token/ERC721/extensions/ERC721Burnable__factory.ts
typechain-types/factories/@openzeppelin/contracts/token/ERC721/extensions/ERC721Enumerable__factory.ts
typechain-types/factories/@openzeppelin/contracts/token/ERC721/extensions/ERC721Pausable__factory.ts
typechain-types/factories/@openzeppelin/contracts/token/ERC721/extensions/ERC721URIStorage__factory.ts
typechain-types/factories/@openzeppelin/contracts/token/ERC721/extensions/IERC721Enumerable__factory.ts
typechain-types/factories/@openzeppelin/contracts/token/ERC721/extensions/IERC721Metadata__factory.ts
typechain-types/factories/@openzeppelin/contracts/token/ERC721/extensions/index.ts
typechain-types/factories/@openzeppelin/contracts/utils/index.ts
typechain-types/factories/@openzeppelin/contracts/utils/introspection/ERC165__factory.ts
typechain-types/factories/@openzeppelin/contracts/utils/introspection/IERC165__factory.ts
typechain-types/factories/@openzeppelin/contracts/utils/introspection/index.ts
typechain-types/factories/contracts/Greeter__factory.ts
typechain-types/factories/contracts/index.ts
typechain-types/factories/contracts/Lock__factory.ts
typechain-types/factories/contracts/MyToken__factory.ts
typechain-types/factories/contracts/PayableNFT__factory.ts
